{% assign project = include.project %}

<div class="card {% if project.icon %}card-has-icon{% endif %}">
    {% if project.external_link %}
        <a href="{{ project.external_link }}" aria-label="{{ project.title }}" target="_blank" class="card-link"></a>
    {% else %}
        <a href="{{ project.url | relative_url }}" aria-label="{{ project.title }}" class="card-link"></a>
    {% endif %}

    <div class="card-content">
      
        <span class="card-external">
            {% if project.external_link %}
                <img  width="16" height="16" alt="external link" src="{{ "assets/images/ui/icons8-up-right-50.png" | relative_url }}" />
            {% endif %}
        </span>
    
        {% if project.icon %}
        <div class="card-icon">
            <img width="24" height="24" alt="icon" src="{{ project.icon | relative_url }}"/>
        </div>
        {% endif %}
        
        <div class="card-title">
            <h2>{{ project.title }}</h2>
        </div>

        <div class="card-description">
            <p>{{ project.description }}</p>
        </div>

        {% if project.categories %}
        <div class="card-categories mt-auto">
            {% for category in project.categories %}
            <div class="card-category">
                {% include framework/category-link.html category_name=category show_count=false %}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>