---
layout: default
body_classes: page-home
---

{% if page.lead.enabled %}
<div class="section">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-md-10 ">
        <div class="intro">

          {% assign avatar_image_width = page.lead.avatar.avatar_image_width | default: "90px" %}
          {% assign avatar_image_height = page.lead.avatar.avatar_image_height | default: "90px" %}

          <div class="lead">
            {% if page.lead.avatar.avatar_image %}
            <img alt="{{ page.lead.avatar.alt }}" width="{{ avatar_image_width }}" height="{{ avatar_image_height }}"
              class="avatar" src="{{ page.lead.avatar.avatar_image | relative_url }}" />
            {% endif %}
            {% if page.lead.heading %}
            <h1>{{ page.lead.heading }}</h1>
            {% endif %}
            {% if page.lead.description %}
            <p>{{ page.lead.description }}</p>
            {% endif %}
          </div>

          {% if page.lead.show_social_media_icons and site.data.social %}
          {% include framework/social.html %}
          {% endif %}

          {% if page.lead.buttons %}
          <div class="buttons">
            {% for button in page.lead.buttons %}
            {% assign external = button.external | default: false %}
            {% assign url = button.url | default: false %}
            {% assign text = button.text | default: false %}
            {% assign dot = button.dot | default: false %}

            <a href="{% if external %}{{ url }}{% else %}{{ url | relative_url }}{% endif %}" {% if external
              %}target="_blank" rel="noopener" {% endif %} class="status">
              {% if dot %}
              <svg class="status-light" fill="{{ dot }}" viewBox="0 0 8 8">
                <circle cx="4" cy="4" r="3"></circle>
              </svg>
              {% endif %}
              <span class="status-text">{{ text }}</span>
            </a>

            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}


{% if page.work.enabled %}

{% assign cards = site.work | sort: 'date' | reverse %}
{% assign limit = page.work.limit | default: 12 %}
{% assign sort_by = page.work.sort | default: 'date' %}
{% assign columns = page.work.columns | default: 3 %}
{% capture columns %}col-lg-{{ 12 | divided_by:columns }}{% endcapture %}
{% if sort_by == 'weight' %}
{% assign cards = cards | sort: 'weight' %}
{% endif %}

<div class="section bg-base-bg">
  <div class="container">
    <div class="row">

      {% for card in cards limit: limit %}
      <div
        class="col-12 col-md-4 {{ columns }} mb-3 {% if forloop.first %}mt-0 {% endif %} {% if forloop.last %}mb-0 {% endif %}">
        {% include theme/card.html project=card %}
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}

{% if page.cta.enabled %}
<div class="section">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-md-10 ">
        <div class="cta">

          <div class="intro">
            {% if page.cta.heading %}
            <h1>{{ page.cta.heading }}</h1>
            {% endif %}
            {% if page.cta.description %}
            <p>{{ page.cta.description }}</p>
            {% endif %}
          </div>

          {% if page.cta.buttons %}
          <div class="buttons mt-3">
            {% for button in page.cta.buttons %}
            {% include framework/button.html
            url=button.url
            text=button.text
            external=button.external
            outline=button.outline
            style=button.style
            fa_icon=button.fa_icon
            outline=button.outline
            rounded=button.rounded
            %}
            {% endfor %}
          </div>
          {% endif %}

          <div class="cta-footer">
            {% capture email %}mailto:{{ page.cta.email }}{% endcapture %}
            <a class="cta-email" href="{{ email }}">{{ page.cta.email }}</a>
            {% capture tel %}tel:{{page.cta.phone}}{% endcapture %}
            <a class="cta-phone" href="{{ phone }}">{{ page.cta.phone }}</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if page.content and page.content != "" %}
<div class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="content">{{ content }}</div>
      </div>
    </div>
  </div>
</div>
{% endif %}